<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Call the component article-detail and set the component value to current page value -->
      {{article-detail article=model destroyArticle="destroyArticle" update="update"}}
    </div>
  </div>
</div>
